{
    "metadata": {
        "manufacturer": {
            "name": "Screenly, Inc",
            "url": [
                "https://www.screenly.io"
            ]
        },
        "licenses": [
            {
                "license": {
                    "id": "MIT",
                    "name": "MIT License",
                    "url": "https://opensource.org/licenses/MIT"
                }
            }
        ],
        "component": {
            "bom-ref": "screenly-cli-${VERSION}",
            "purl": "pkg:github/${GITHUB_REPOSITORY}@${VERSION_TAG}",
            "version": "${VERSION}"
        }
    }
}
