{
    "$schema": "http://cyclonedx.org/schema/bom-1.6.schema.json",
    "metadata": {
        "manufacture": {
            "name": "Screenly, Inc",
            "url": "https://www.screenly.io"
        },
        "lifecycles": [
            {
                "phase": "build"
            }
        ],
        "supplier": {
            "name": "Screenly, Inc",
            "url": "https://www.screenly.io/"
        },
        "externalReferences": [
            {
                "type": "documentation",
                "url": "https://developer.screenly.io/"
            },
            {
                "type": "vcs",
                "url": "https://github.com/${GITHUB_REPOSITORY}.git"
            },
            {
                "type": "support",
                "url": "https://support.screenly.io"
            }
        ],
        "authors": [
            {
                "name": "Screenly Dev Team",
                "email": "support@screenly.io"
            }
        ],
        "licenses": [
            {
                "license": {
                    "id": "MIT",
                    "name": "MIT License",
                    "url": "https://raw.githubusercontent.com/${GITHUB_REPOSITORY}/master/LICENSE"
                }
            }
        ],
        "component": {
            "name": "screenly-cli",
            "bom-ref": "screenly-cli-${VERSION}",
            "purl": "pkg:github/${GITHUB_REPOSITORY}@${VERSION_TAG}",
            "version": "${VERSION}"
        }
        "externalReferences": [
            {
                "type": "documentation",
                "url": "https://developer.screenly.io/"
            },
            {
                "type": "vcs",
                "url": "https://github.com/${GITHUB_REPOSITORY}.git"
            },
            {
                "type": "support",
                "url": "https://support.screenly.io"
            }
        ]
    }
}
