{
    "metadata": {
        "manufacture": {
            "name": "Screenly, Inc",
            "url": [
                "https://www.screenly.io"
            ]
        },
        "copyright": "Screenly, Inc",
        "description": "Screenly CLI is a command line interface for inteacting with Screenly's API and building Edge Apps.",
        "externalReferences": [
            {
                "type": "documentation",
                "url": "https://developer.screenly.io/"
            },
            {
                "type": "vcs",
                "url": "https://github.com/${GITHUB_REPOSITORY}.git"
            },
            {
                "type": "support",
                "url": "https://support.screenly.io"
            }
        ],
        "lifecycles": [
            {
                "phase": "build"
            }
        ],
        "supplier": {
            "name": "Screenly, Inc",
            "url": ["https://www.screenly.io/developers/cli/"]
        },
        "licenses": [
            {
                "license": {
                    "id": "MIT",
                    "name": "MIT License",
                    "url": "https://raw.githubusercontent.com/${GITHUB_REPOSITORY}/master/LICENSE"
                }
            }
        ],
        "component": {
            "name": "screenly-cli",
            "bom-ref": "screenly-cli-${VERSION}",
            "purl": "pkg:github/${GITHUB_REPOSITORY}@${VERSION_TAG}",
            "version": "${VERSION}"
        }
    }
}
